<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>875581240489-rdi8imefbv8lm5n9bvhsiaetlif1cnms.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.875581240489-rdi8imefbv8lm5n9bvhsiaetlif1cnms</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>875581240489-76riakin6f7or7222btsu8u8eee5t2od.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC4_pjTwO7PyiYi8XKiRCg-rG0Cxwdts4Q</string>
	<key>GCM_SENDER_ID</key>
	<string>875581240489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jobMatchApp</string>
	<key>PROJECT_ID</key>
	<string>jobmatchdb</string>
	<key>STORAGE_BUCKET</key>
	<string>jobmatchdb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875581240489:ios:24866507826e8dba1ce5b8</string>
</dict>
</plist>